openapi: 3.1.0
info:
  title: kombify-TechStack API
  description: |
    REST API for kombify-TechStack -- the hybrid cloud control plane for homelabs.

    kombify-TechStack manages infrastructure through a spec-driven architecture:
    validate YAML specs via CUE, generate OpenTofu configurations, and manage
    nodes through a gRPC agent protocol.

    ## Authentication

    Authenticated endpoints accept an OIDC/JWKS bearer token or an API key
    where documented. Self-hosted TechStack defaults to Pocket ID as identity
    provider. SaaS routes enter through the edge with Auth0 as the platform
    identity provider. PocketBase session exchange remains legacy migration
    compatibility only.

    ## Response Format

    **Success:** `{ "data": <object>, "meta": { "total": int, "page": int, "per_page": int } }`

    **Error:** `{ "error": { "code": "<ERROR_CODE>", "message": "...", "details": <any> } }`

    ## Pagination

    List endpoints accept `page` (default: 1) and `per_page` (default: 20, max: 100) query parameters.
  version: 1.0.0
  contact:
    name: kombify
    url: https://kombify.io
  license:
    name: Apache-2.0 AND GPL-3.0
    url: https://github.com/kombifyio/TechStack/blob/main/LICENSE

# ============================================================
# SERVERS
# ============================================================
# All paths in this document are authored as /api/v1/*. The Gateway projects
# the mobile/public surface as `https://api.kombify.io/v1/techstack/<route>`
# and strip-prefixes `/v1/techstack`, re-adding `/api/v1` at TECHSTACK_ORIGIN
# (see x-kombify-route-projection below). The canonical server for clients is
# therefore `https://api.kombify.io/v1/techstack` (NOT the legacy
# `/v1/orchestrator` projection, which double-resolves against /api/v1 paths).
servers:
  - url: https://api.kombify.io/v1/techstack
    description: >-
      Production canonical (via Cloudflare edge gateway, strip-prefix). Clients
      MUST use this projection. The Gateway strips /v1/techstack and re-adds
      /api/v1 at the origin, so it resolves the /api/v1/* paths below cleanly.
  - url: http://localhost:5260
    description: Local development
  - url: https://techstack.kombify.io
    description: Production (direct, no Gateway prefix)
  - url: https://api.kombify.io/v1/orchestrator
    description: >-
      Legacy StackKit-Orchestrator projection of the same origin. RETAINED for
      backward compatibility with existing consumers only. Do NOT use for mobile
      or new clients: combined with the /api/v1/* paths it double-resolves
      (yielding /v1/orchestrator/api/v1/...). Prefer /v1/techstack.

# Gateway route projection contract for the mobile/public surface. Mirrors the
# committed mobile seed (kombify-AI-Mobile shared/contracts/techstack-mobile.v1.yaml).
x-kombify-route-projection:
  gatewayPublicPrefix: /v1/techstack
  gatewayUpstreamPrefix: /api/v1
  gatewayEnvKey: TECHSTACK_ORIGIN
  pathMode: strip-prefix
  canonicalServer: https://api.kombify.io/v1/techstack
  note: >-
    Public/mobile clients call api.kombify.io/v1/techstack/<route>; Cloudflare
    strips /v1/techstack and prepends /api/v1 at TECHSTACK_ORIGIN. The product
    origin is never called directly. /v1/orchestrator is the legacy projection of
    the same origin and MUST NOT be used by mobile.

tags:
  - name: Health
    description: Health checks and service info (no auth required)
  - name: Instance
    description: Local instance identity and enrollment metadata
  - name: Stacks
    description: Stack lifecycle management (create, provision, deploy, destroy)
  - name: Stacks - Specs
    description: Access persisted specification chain (intent, requirements, unified)
  - name: Stacks - Import/Export
    description: Import and export StackKits stack-spec.yaml configurations
  - name: Stacks - Drift
    description: Infrastructure drift detection and resolution
  - name: Unifier
    description: Spec validation, analysis, unification, and IaC generation pipeline
  - name: StackKits
    description: Infrastructure template catalog
  - name: Add-ons
    description: Add-on detection and registry
  - name: Workers
    description: Worker node registration and management
  - name: Servers
    description: Canonical server lifecycle, connection, and health state
  - name: Inventory
    description: Owner-scoped sanitized server and service read models for UI, API, and MCP clients
  - name: Pre-Checks
    description: Pre-deployment hardware and software validation
  - name: Agents
    description: Connected gRPC agent management and commands
  - name: Jobs
    description: Background job monitoring and SSE streaming
  - name: Discovery
    description: Network device discovery and SSH testing
  - name: Features
    description: Feature flags (read-only; managed centrally via the kombify Admin API)
  - name: Monthly Runtime
    description: Provider-free user API for subscription-backed stack runtime control
  - name: Runtime
    description: Recent runtime/deploy logs (job/deploy progress + container tail)
  - name: Wallet
    description: >-
      Redacted recovery-item wallet with biometric/platform-reauth-gated reveal.
      List responses strip secret/totp; reveal requires a fresh trusted-reauth
      HMAC proof (5-minute window) and is audited server-side.
  - name: Trust
    description: Pairing tokens for worker enrollment
  - name: Client Binding
    description: Short-lived HTTPS pairing for a second client and normal OIDC account handoff
  - name: Tunnel
    description: Cloudflare tunnel management for NAT traversal
  - name: Backups
    description: Database backup management (admin only)
  - name: Auth
    description: Authentication mode and SSO configuration
  - name: Metrics
    description: Prometheus-compatible instance metrics for admin/infra scrapers
  - name: Internal
    description: Internal SaaS-only APIs, including servicecall-protected executor contracts

security:
  - bearerAuth: []

paths:
  # ============================================================
  # HEALTH & INFO
  # ============================================================
  /api/v1/health:
    get:
      operationId: getHealth
      tags: [Health]
      summary: Main health check
      security: []
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /api/v1/health/live:
    get:
      operationId: getLiveness
      tags: [Health]
      summary: Kubernetes liveness probe
      security: []
      responses:
        "200":
          description: Service is alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: alive

  /api/v1/health/ready:
    get:
      operationId: getReadiness
      tags: [Health]
      summary: Kubernetes readiness probe
      security: []
      responses:
        "200":
          description: Service is ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ready, not_ready]
                  checks:
                    type: object
                    properties:
                      database:
                        type: boolean
                      grpc:
                        type: boolean
        "503":
          description: Service is not ready

  /api/v1/health/startup:
    get:
      operationId: getStartup
      tags: [Health]
      summary: Kubernetes startup probe
      security: []
      responses:
        "200":
          description: Service has started
        "503":
          description: Service still starting

  /api/v1/info:
    get:
      operationId: getInfo
      tags: [Health]
      summary: Service info (version, runtime stats)
      security: []
      responses:
        "200":
          description: Service information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfoResponse"

  /api/v1/capabilities:
    get:
      operationId: getCapabilities
      tags: [Health]
      summary: Discover API capabilities for clients
      description: |
        Returns a structured list of all API capabilities for programmatic
        discovery. Native client apps use this endpoint to
        enumerate available actions, required auth, and async behavior.
      security: []
      responses:
        "200":
          description: Capabilities list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapabilitiesResponse"

  /api/v1/client/bootstrap:
    get:
      operationId: getClientBootstrap
      tags: [Health]
      summary: Public runtime config for the static SPA
      description: |
        Returns non-secret, runtime-varying public configuration for the
        embedded static frontend (edition, deployment mode, telemetry
        toggles). Values are empty unless the operator or deployer sets the
        corresponding environment variables, keeping self-hosted and local
        deployments telemetry-free by default.
      security: []
      responses:
        "200":
          description: Client bootstrap config
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      edition:
                        type: string
                      deployment_mode:
                        type: string
                      kombify_edition:
                        type: string
                      version:
                        type: string
                      public_origin:
                        type: string
                      telemetry:
                        type: object
                        properties:
                          sentry:
                            type: object
                            properties:
                              dsn: { type: string }
                              environment: { type: string }
                              release: { type: string }
                          posthog:
                            type: object
                            properties:
                              key: { type: string }
                              host: { type: string }
                              environment: { type: string }

  /api/v1/csrf:
    get:
      operationId: getCSRFToken
      tags: [Auth]
      summary: Issue a CSRF token for cookie-authenticated browser mutations
      security: []
      responses:
        "200":
          description: CSRF token
          headers:
            X-CSRF-Token:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required: [token]
                properties:
                  token:
                    type: string

  /api/v1/openapi.yaml:
    get:
      operationId: getOpenAPIYAML
      tags: [Health]
      summary: Download the OpenAPI contract
      security: []
      responses:
        "200":
          description: OpenAPI YAML
          content:
            application/yaml:
              schema:
                type: string
            text/yaml:
              schema:
                type: string

  /api/v1/instance:
    get:
      operationId: getInstanceIdentity
      tags: [Instance]
      summary: Get the stable local instance identity
      security: []
      responses:
        "200":
          description: Instance identity
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  version:
                    type: string
                  created_at:
                    type: string
                    format: date-time

  /api/v1/enrollment:
    get:
      operationId: getEnrollmentRecord
      tags: [Instance]
      summary: Get the local enrollment record
      security: []
      responses:
        "200":
          description: Enrollment metadata for the current instance
          content:
            application/json:
              schema:
                type: object
                properties:
                  instance_id:
                    type: string
                  mode:
                    type: string
                    enum: [standalone, cloud_linked]
                  cloud_linked:
                    type: boolean

  # ============================================================
  # STACKS - LIFECYCLE
  # ============================================================
  /api/v1/stacks:
    post:
      operationId: createStack
      tags: [Stacks]
      summary: Create stack and start provisioning
      description: |
        Creates a new stack from the canonical StackKits stack-spec payload
        supplied as `stack_spec`. Multiple stacks and homelabs can belong to
        one TechStack instance; clients must not assume the former
        single-homelab framing. Legacy `user_config`/kombination payloads are
        still accepted for compatibility. Wizard clients should send a stable
        `X-Idempotency-Key`; retries with the same key and payload return the
        original stack, planned server, and provisioning job.
      parameters:
        - name: X-Idempotency-Key
          in: header
          required: false
          description: Stable wizard-attempt key. Maximum 256 characters.
          schema:
            type: string
            maxLength: 256
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateStackRequest"
      responses:
        "202":
          description: Stack creation accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateStackResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Stack conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/stacks/{id}/owner-spec:
    get:
      operationId: getStackOwnerSpec
      tags: [Stacks]
      summary: Fetch StackKit owner bootstrap spec
      description: |
        StackKit admin-bootstrap endpoint for fetching local owner fields and
        the recovery passphrase hash. This route accepts only the short-lived
        bootstrap bearer token returned by `createStack`; it does not use the
        normal browser/session bearer token.
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Owner and recovery bootstrap spec
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OwnerSpecResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Owner spec material is not available for this stack
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/stacks/{id}/provision:
    post:
      operationId: provisionStack
      tags: [Stacks]
      summary: Start provisioning existing stack
      parameters:
        - $ref: "#/components/parameters/stackId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              description: Optional custom spec overrides
      responses:
        "202":
          description: Provisioning accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncJobResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/stacks/{id}/deploy:
    post:
      operationId: deployStack
      tags: [Stacks]
      summary: Full rollout (unify + IaC + tofu apply)
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "202":
          description: Deploy accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncJobResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/stacks/{id}/operations:
    get:
      operationId: getStackOperations
      tags: [Stacks, Inventory]
      summary: Get the post-configuration operations read model for one owned stack
      description: >-
        Returns the exact owner- and tenant-scoped read model used by the
        TechStack operations dashboard. approved_servers records operator
        approval; connected_servers is stricter and counts only assigned,
        approved servers with freshness-qualified canonical Guard heartbeat,
        connection, and health evidence. The operation is read-only and never
        starts rollout, provisioning, or provider work.
      x-kombify-mcp:
        toolName: get_stack_operations
        requiredCapability: techstack.inventory.read
        annotations: { readOnlyHint: true, idempotentHint: true, destructiveHint: false, openWorldHint: false }
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Current stack operations and rollout-readiness evidence
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StackOperationsEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/managed-runtimes/authority:
    get:
      operationId: preflightManagedRuntimeAuthority
      tags: [Stacks, Jobs]
      summary: Verify request-bound managed-runtime authority without creating a resource
      description: |
        Read-only preflight for the Gateway-to-native-admission authority chain.
        Hosted requests must carry the Gateway's v2-signed managed-runtime,
        Cloud Kit, provider entitlement, and `cloud.runtime.credits`
        `managed_servers` decision bound to this exact request. A successful
        response never reserves capacity, creates a stack, queue job, lease,
        runtime server, or provider operation; the real Add-Server request
        repeats every mutable admission check atomically.
      parameters:
        - name: provider_id
          in: query
          required: true
          description: Exact canonical provider whose managed-runtime authority is being checked.
          schema:
            type: string
            enum: [centron, ionos]
      responses:
        "200":
          description: Gateway-signed budget and native read-only admission preflight verified.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedRuntimeAuthorityPreflightEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/stacks/{id}/managed-runtimes:
    post:
      operationId: addManagedRuntimeServer
      tags: [Stacks, Jobs]
      summary: Add one managed runtime server through native provider control
      description: |
        Creates or resumes one deterministic Add-Server job for the exact
        owned stack. The standard `Idempotency-Key` is mandatory. Replaying
        the same key with the same canonical request returns the original
        job, lease, runtime-server, resource-generation, and provider-operation
        correlations; reusing it with different intent fails with 409.

        The raw key is never persisted or returned. A lost response or an
        uncertain native-admission outcome remains resumable only with the
        same key. HTTP acceptance means native admission is durable and
        provider reconciliation is pending; it never claims that the VM is
        already provisioned or healthy. Fresh admission atomically reserves
        the authenticated tenant/owner capacity slot with the lease generation
        and provider operation. When authoritative native admission finds that
        bounded capacity full, it persists a non-retryable 403 outcome and
        replaying that denied job returns the same outcome. Exact replays of an
        already committed admission reuse its existing reservation. This version
        has no automatic reservation release: terminal or local decommission
        state alone does not free a slot. Lease inventory and feature-delivery
        flags never authorize or deny capacity.
        Hosted fresh admission also requires the v2-signed commercial runtime
        and provider entitlements plus the signed `cloud.runtime.credits`
        `managed_servers` mode/limit decision; feature flags alone never grant
        provider capacity. Self-host OSS uses its construction-fixed static
        release-manifest policy instead of a SaaS entitlement dependency.
      parameters:
        - $ref: "#/components/parameters/stackId"
        - name: Idempotency-Key
          in: header
          required: true
          description: >-
            One opaque, case-sensitive Add-Server attempt key. Supply exactly
            one value without leading/trailing whitespace, comma separators,
            or control characters. Maximum 256 UTF-8 bytes.
          schema:
            type: string
            minLength: 1
            maxLength: 256
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddManagedRuntimeServerRequest"
      responses:
        "202":
          description: Native managed-runtime admission accepted or safely replayed; provisioning remains pending.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddManagedRuntimeServerEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/stacks/{id}/resume-enrollment:
    post:
      operationId: resumeStackEnrollment
      tags: [Stacks, Jobs]
      summary: Resume one overdue enrollment wait on its exact existing VM
      description: |
        Authenticated, idempotent recovery for a persisted `waiting_enrollment`
        job whose `next_resume_at` has been overdue beyond the bounded grace
        period. The server validates the owned stack, source job, wait reason,
        exact lease, active foundation role, and canonical server as one
        operation. It atomically retires the exact source wait, creates or
        rehydrates one deterministic replacement deploy bound to the same lease
        and server, and replays that job on later calls. Before handler entry,
        queue workers atomically acquire a durable tenant/stack execution claim;
        this serializes different jobs for the same stack across Techstack
        replicas. The claim remains durable `running` until the handler exits,
        including during cancellation. This endpoint never invokes provider VM
        creation or selects a newer VM. A replacement found durable `running`
        after a crash remains fail-closed, is reported as the same job, and is
        never duplicated automatically; runtime-action reconciliation remains a
        separate operator concern.
      parameters:
        - $ref: "#/components/parameters/stackId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnrollmentResumeRequest"
      responses:
        "202":
          description: Deterministic exact-target replacement accepted or replayed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnrollmentResumeEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/stacks/{id}/retry-rollout:
    post:
      operationId: retryStackRollout
      tags: [Stacks, Jobs]
      summary: Retry one failed rollout on its exact existing managed VM
      description: |
        Validates the owned failed deploy, its exact active foundation lease,
        and canonical server in one server-side operation. The deterministic
        durable replacement bypasses provider VM creation, wins a durable
        tenant/stack execution claim before handler entry, and is replayed on
        repeated calls to this operation. The claim serializes different jobs
        for the same stack across replicas and remains fail-closed as `running`
        after a process crash until operator reconciliation.
      parameters:
        - $ref: "#/components/parameters/stackId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExactRolloutRetryRequest"
      responses:
        "202":
          description: Exact-target rollout retry accepted or replayed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExactRolloutRetryEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/stacks/{id}/routing:
    get:
      operationId: getStackRouting
      tags: [Stacks]
      summary: Read the desired and observed routing state for one stack
      description: >-
        Returns the tenant- and owner-bound routing overlay for the exact stack.
        Desired state and observed/applied state are reported separately so clients
        never infer a successful DNS, TLS, or StackKit rollout from persistence alone.
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Current routing desired state, observation, and rollout truth
          headers:
            ETag:
              description: Current routing revision, suitable for a later If-Match header.
              schema: { type: string, example: '"3"' }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StackRoutingViewEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    put:
      operationId: ensureStackRouting
      tags: [Stacks]
      summary: Ensure the desired routing overlay for one exact stack and server
      description: >-
        Atomically persists an idempotent, revisioned routing overlay without
        mutating the user's immutable intent. server_id is always exact and
        mandatory. lease_id is mandatory for managed runtimes and omitted for a
        local/Basement runtime which has no lease. For a managed target, a true
        ensure_rollout request dispatches the existing deploy pipeline only after
        proving that its selected active foundation lease and canonical server equal
        this exact target. The API never reports the resulting job as already applied.
        The overlay is consumed only while deriving StackKits artifacts and this path
        never creates or selects a replacement VM.
      parameters:
        - $ref: "#/components/parameters/stackId"
        - name: Idempotency-Key
          in: header
          required: true
          description: Stable key for safely replaying this exact routing mutation.
          schema:
            type: string
            minLength: 1
            maxLength: 256
        - name: If-Match
          in: header
          required: false
          description: Optional optimistic-concurrency routing revision, for example `"3"`.
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StackRoutingPutRequest"
      responses:
        "200":
          description: Desired routing state persisted; no rollout was requested.
          headers:
            ETag:
              description: Persisted routing revision.
              schema: { type: string, example: '"3"' }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StackRoutingViewEnvelope"
        "202":
          description: Desired routing state persisted and an exact-target rollout job was enqueued; application remains pending.
          headers:
            ETag:
              description: Persisted routing revision.
              schema: { type: string, example: '"3"' }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StackRoutingViewEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "412":
          description: If-Match does not equal the current routing revision.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          $ref: "#/components/responses/ValidationError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/stacks/{id}/routing/targets:
    get:
      operationId: listStackRoutingTargets
      tags: [Stacks]
      summary: List explicit primary routing targets for one stack
      description: >-
        Read-only discovery backed by active RuntimeLease authority. Returns every
        owner-visible foundation/control-plane target and never selects one, creates
        a ServerRuntime projection, or mutates the stack. Callers must send the
        complete server_id and lease_id tuple to a routing mutation.
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Owner-visible primary routing targets.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StackRoutingTargetsEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/stacks/{id}/destroy:
    post:
      operationId: destroyStack
      tags: [Stacks]
      summary: Destroy infrastructure
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "202":
          description: Destroy accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncJobResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ============================================================
  # STACKS - SPECS
  # ============================================================
  /api/v1/stacks/{id}/intent:
    get:
      operationId: getStackIntent
      tags: [Stacks - Specs]
      summary: Get persisted kombination.yaml (byte-exact, base64)
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Intent spec
          content:
            application/json:
              schema:
                type: object
                properties:
                  stack_id:
                    type: string
                  filename:
                    type: string
                    example: kombination.yaml
                  encoding:
                    type: string
                    example: base64
                  sha256:
                    type: string
                  byteLength:
                    type: integer
                  content:
                    type: string
                    description: Base64-encoded YAML content
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/stacks/{id}/requirements:
    get:
      operationId: getStackRequirements
      tags: [Stacks - Specs]
      summary: Get requirements spec (Phase 1 output)
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Requirements spec
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/stacks/{id}/unified:
    get:
      operationId: getStackUnified
      tags: [Stacks - Specs]
      summary: Get unified spec (Phase 2 output)
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Unified spec
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/stacks/{id}/verify-chain:
    get:
      operationId: verifySpecChain
      tags: [Stacks - Specs]
      summary: Verify spec hash chain integrity
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Chain verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  stack_id:
                    type: string
                  valid:
                    type: boolean
                  message:
                    type: string

  /api/v1/stacks/{id}/pipeline-status:
    get:
      operationId: getPipelineStatus
      tags: [Stacks - Specs]
      summary: Get complete pipeline status for all spec phases
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Pipeline status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PipelineStatusResponse"

  # ============================================================
  # STACKS - IMPORT/EXPORT
  # ============================================================
  /api/v1/stacks/{id}/export:
    get:
      operationId: exportStack
      tags: [Stacks - Import/Export]
      summary: Export stack as stack-spec.yaml
      description: Returns StackKits stack-spec YAML or JSON depending on Accept header
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Exported configuration
          content:
            application/yaml:
              schema:
                type: string
            application/json:
              schema:
                type: object
                properties:
                  stack_spec:
                    type: object
                    description: Canonical StackKits stack-spec export.
                  kombination:
                    type: object
                    deprecated: true
                    description: Legacy alias for stack_spec.
                  format:
                    type: string
                  stack_id:
                    type: string
                  exported_at:
                    type: string
                    format: date-time

  /api/v1/stacks/import:
    post:
      operationId: importStack
      tags: [Stacks - Import/Export]
      summary: Import stack-spec.yaml and create stack
      description: Imports YAML or JSON into a stack without assuming a single-homelab instance.
      requestBody:
        required: true
        content:
          application/yaml:
            schema:
              type: string
          application/json:
            schema:
              type: object
      responses:
        "202":
          description: Import accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateStackResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          description: Stack already exists

  /api/v1/stacks/import/validate:
    post:
      operationId: validateImport
      tags: [Stacks - Import/Export]
      summary: Validate spec without importing
      requestBody:
        required: true
        content:
          application/yaml:
            schema:
              type: string
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Validation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationResult"

  # ============================================================
  # STACKS - DRIFT
  # ============================================================
  /api/v1/stacks/{id}/drift/check:
    post:
      operationId: checkDrift
      tags: [Stacks - Drift]
      summary: Trigger drift check
      description: Rate limited to once per 5 minutes (unless force=true)
      parameters:
        - $ref: "#/components/parameters/stackId"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  default: false
      responses:
        "202":
          description: Drift check started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncJobResponse"
        "429":
          description: Rate limited (5 minute cooldown)

  /api/v1/stacks/{id}/drift/status:
    get:
      operationId: getDriftStatus
      tags: [Stacks - Drift]
      summary: Get current drift status
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Drift status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriftStatusResponse"

  /api/v1/stacks/{id}/drift/details:
    get:
      operationId: getDriftDetails
      tags: [Stacks - Drift]
      summary: Get detailed drift information with affected resources
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "200":
          description: Drift details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriftDetailsResponse"

  /api/v1/stacks/{id}/drift/resolve:
    post:
      operationId: resolveDrift
      tags: [Stacks - Drift]
      summary: Trigger drift resolution (re-apply)
      description: Precondition -- stack must have status "drifted"
      parameters:
        - $ref: "#/components/parameters/stackId"
      responses:
        "202":
          description: Resolution started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncJobResponse"
        "412":
          description: Stack is not in drifted state

  /api/v1/drift/results:
    get:
      operationId: listDriftResults
      tags: [Stacks - Drift]
      summary: List all drift results (paginated)
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/perPage"
      responses:
        "200":
          description: Paginated drift results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriftResultsListResponse"

  /api/v1/drift/results/{id}:
    get:
      operationId: getDriftResult
      tags: [Stacks - Drift]
      summary: Get single drift result
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "200":
          description: Drift result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriftDetailsResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteDriftResult
      tags: [Stacks - Drift]
      summary: Delete drift result
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  # ============================================================
  # UNIFIER
  # ============================================================
  /api/v1/unifier/validate:
    post:
      operationId: validateSpec
      tags: [Unifier]
      summary: Validate a stack specification against CUE schemas
      description: Safe, idempotent. No side effects.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: StackKits stack-spec or legacy Kombination spec to validate
          application/yaml:
            schema:
              type: string
      responses:
        "200":
          description: Validation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationResult"

  /api/v1/unifier/analyze:
    post:
      operationId: analyzeSpec
      tags: [Unifier]
      summary: Analyze spec to get requirements (Phase 1)
      description: Safe, idempotent. Returns hardware requirements, detected add-ons, required credentials.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Requirements analysis
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"

  /api/v1/unifier/unify:
    post:
      operationId: unifySpec
      tags: [Unifier]
      summary: Unify specifications (Phase 2)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Unified spec
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"

  /api/v1/unifier/pipeline:
    post:
      operationId: runPipeline
      tags: [Unifier]
      summary: Run full unifier pipeline (validate + analyze + unify + generate)
      description: Side-effecting -- generates IaC output files.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Pipeline result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"

  /api/v1/unifier/pipeline/validate:
    post:
      operationId: validatePipeline
      tags: [Unifier]
      summary: Validate pipeline inputs without executing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Pipeline validation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationResult"

  /api/v1/unifier/pipeline/preview:
    post:
      operationId: previewPipeline
      tags: [Unifier]
      summary: Preview pipeline results without side effects
      description: Safe, idempotent. Shows what would be generated. Backend validation or StackKit resolution failures return 200 with data.valid=false and structured data.errors; malformed input and auth failures remain HTTP errors.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Pipeline preview
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"

  /api/v1/unifier/generate:
    post:
      operationId: generateIaC
      tags: [Unifier]
      summary: Generate IaC from unified spec
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Generated IaC
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"

  /api/v1/unifier/iac:
    post:
      operationId: generateIaCDirect
      tags: [Unifier]
      summary: Generate IaC directly
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: IaC generation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"

  /api/v1/unifier/iac/preview:
    post:
      operationId: previewIaC
      tags: [Unifier]
      summary: Preview IaC generation without writing files
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: IaC preview
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"

  # ============================================================
  # STACKKITS
  # ============================================================
  /api/v1/stackkits:
    get:
      operationId: listStackKits
      tags: [StackKits]
      summary: List available StackKits
      responses:
        "200":
          description: StackKit catalog
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"

  /api/v1/stackkits/{name}:
    get:
      operationId: getStackKit
      tags: [StackKits]
      summary: Get specific StackKit details
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
          examples:
            base:
              value: base-kit
            modern:
              value: modern-homelab
            ha:
              value: ha-homelab
      responses:
        "200":
          description: StackKit details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "404":
          $ref: "#/components/responses/NotFound"

  # ============================================================
  # ADD-ONS
  # ============================================================
  /api/v1/addons:
    get:
      operationId: listAddons
      tags: [Add-ons]
      summary: List available add-ons
      responses:
        "200":
          description: Add-on registry
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"

  /api/v1/addons/detect:
    post:
      operationId: detectAddons
      tags: [Add-ons]
      summary: Auto-detect applicable add-ons for a spec
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Detected add-ons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"

  # ============================================================
  # SANITIZED PRODUCT INVENTORY
  # ============================================================
  /api/v1/inventory/servers:
    get:
      operationId: listInventoryServers
      tags: [Inventory]
      summary: List sanitized server inventory for the authenticated owner
      description: >-
        Returns only servers owned by the authenticated subject in the trusted
        tenant context. Tenant and owner overrides are not accepted. Raw
        metadata, channel endpoints, provider-resource references, credentials,
        SSH material, tokens, and logs are never returned. The lease projection
        contains only an opaque identifier and state. Cursor pages share one
        authorization- and filter-bound collection watermark and exclude later
        inserts.
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - name: cursor
          in: query
          schema: { type: string, maxLength: 2048 }
      x-kombify-mcp:
        toolName: list_servers
        requiredCapability: techstack.inventory.read
        annotations: { readOnlyHint: true, idempotentHint: true, destructiveHint: false, openWorldHint: false }
      responses:
        "200":
          description: Owner-scoped inventory
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/InventoryServerList" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /v1/ril/servers:
    $ref: "#/paths/~1api~1v1~1inventory~1servers"

  /api/v1/servers/summary:
    get:
      operationId: getRILServerSummary
      tags: [Inventory, RIL]
      summary: Read the authenticated owner's server-presence summary
      description: >-
        Returns only a count and presence flag under the same tenant and owner
        policy scope as the canonical inventory list. The optional tenant query
        exists for Gateway compatibility and must exactly match the tenant in
        the authenticated identity; a mismatch is rejected before any store
        read. No server, tenant, or subject identifiers are returned.
      parameters:
        - name: tenant
          in: query
          required: false
          schema: { type: string, minLength: 1 }
      responses:
        "200":
          description: Owner-scoped server presence; private-cacheable for 60 seconds
          headers:
            Cache-Control:
              schema: { type: string, example: "private, max-age=60" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/RILServerSummary" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /v1/ril/servers/summary:
    $ref: "#/paths/~1api~1v1~1servers~1summary"

  /api/v1/inventory/servers/{serverId}/health:
    get:
      operationId: getInventoryServerHealth
      tags: [Inventory]
      summary: Get freshness-qualified health for one owned server
      x-kombify-mcp:
        toolName: server_health
        requiredCapability: techstack.inventory.read
        annotations: { readOnlyHint: true, idempotentHint: true, destructiveHint: false, openWorldHint: false }
      parameters:
        - $ref: "#/components/parameters/serverId"
      responses:
        "200":
          description: Sanitized health evidence
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/InventoryServerHealth" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/inventory/services:
    get:
      operationId: listInventoryServices
      tags: [Inventory]
      summary: List sanitized services for the authenticated owner's servers
      x-kombify-mcp:
        toolName: list_services
        requiredCapability: techstack.inventory.read
        annotations: { readOnlyHint: true, idempotentHint: true, destructiveHint: false, openWorldHint: false }
      parameters:
        - name: server_id
          in: query
          description: Optional exact owned server filter; a foreign server is returned as not found.
          schema: { type: string, minLength: 1 }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - name: cursor
          in: query
          description: Opaque cursor bound to the authenticated scope and exact server_id filter.
          schema: { type: string, maxLength: 2048 }
      responses:
        "200":
          description: Owner-scoped service inventory
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/InventoryServiceList" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/inventory/servers/{serverId}/access-context:
    get:
      operationId: getInventoryServerAccessContext
      tags: [Inventory]
      summary: Get sanitized access context for one owned server
      description: >-
        Returns address metadata, channel state, and freshness-qualified service
        links only. It never returns endpoint references, access-profile
        references, route IDs, credentials, tokens, SSH users, ports, keys,
        commands, or logs. This surface requires inventory operate permission;
        read permission alone is insufficient.
      x-kombify-mcp:
        toolName: server_access_context
        requiredCapability: techstack.inventory.operate
        annotations: { readOnlyHint: true, idempotentHint: true, destructiveHint: false, openWorldHint: false }
      parameters:
        - $ref: "#/components/parameters/serverId"
      responses:
        "200":
          description: Sanitized server access context
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/InventoryServerAccessContext" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  # ============================================================
  # SERVER RUNTIME REGISTRY
  # ============================================================
  /api/v1/servers:
    get:
      operationId: listServerRuntimes
      tags: [Servers]
      summary: List canonical server runtime state
      parameters:
        - name: stack_id
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Owner-scoped server runtime list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ServerRuntime"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/servers/{serverId}:
    get:
      operationId: getServerRuntime
      tags: [Servers]
      summary: Get canonical server lifecycle, connection, health, and channels
      parameters:
        - $ref: "#/components/parameters/serverId"
      responses:
        "200":
          description: Server runtime
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ServerRuntime"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/servers/{serverId}/transitions:
    get:
      operationId: listServerRuntimeTransitions
      tags: [Servers]
      summary: List the persisted server state timeline
      parameters:
        - $ref: "#/components/parameters/serverId"
      responses:
        "200":
          description: Newest-first transition timeline
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"

  # ============================================================
  # SERVICE RUNTIME REGISTRY
  # ============================================================
  /api/v1/services:
    get:
      operationId: listServiceRuntimes
      tags: [Services]
      summary: List canonical measured service runtime state
      parameters:
        - name: stack_id
          in: query
          schema:
            type: string
        - name: server_id
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Owner-scoped service runtime list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ServiceRuntime"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/services/{serviceId}:
    get:
      operationId: getServiceRuntime
      tags: [Services]
      summary: Get desired, observed, health, access, and action capabilities for one service
      parameters:
        - $ref: "#/components/parameters/serviceId"
      responses:
        "200":
          description: Service runtime
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ServiceRuntime"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/registry/services/{serviceId}/actions:
    post:
      operationId: runManagedServiceAction
      tags: [Services, Jobs]
      summary: Queue an owner-authorized StackKits service action
      description: >-
        Derives stack, server, agent, kit and service authority from fresh
        canonical inventory. Exact replays converge through a durable job
        receipt; the raw Idempotency-Key is never persisted. Mutations are
        followed by StackKits verify before measured state changes.
      parameters:
        - $ref: "#/components/parameters/serviceId"
        - name: Idempotency-Key
          in: header
          required: true
          schema: { type: string, minLength: 1, maxLength: 128 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceActionRequest"
      responses:
        "202":
          description: Action queued or exact durable replay returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/ServiceActionResponse" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/registry/services/{serviceId}/logs:
    get:
      operationId: getManagedServiceLogs
      tags: [Services, Jobs]
      summary: Read the latest bounded, redacted StackKits service log page
      parameters:
        - $ref: "#/components/parameters/serviceId"
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 100 }
        - name: cursor
          in: query
          schema: { type: string, maxLength: 2048 }
      responses:
        "200":
          description: Completed or empty service log page
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/ServiceLogsResponse" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "202":
          description: The requested log page is still being collected
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/ServiceLogsResponse" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  # ============================================================
  # WORKERS
  # ============================================================
  /api/v1/workers:
    get:
      operationId: listWorkers
      tags: [Workers]
      summary: List registered workers (filtered by owner)
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/perPage"
      responses:
        "200":
          description: Worker list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"

  /api/v1/workers/register:
    post:
      operationId: registerWorker
      tags: [Workers]
      summary: Register worker via pairing token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
                  description: Pairing token
                hostname:
                  type: string
                ip:
                  type: string
      responses:
        "200":
          description: Worker registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "401":
          description: Invalid pairing token

  /v1/ril/servers/connect:
    post:
      operationId: connectRILServer
      tags: [Workers, RIL]
      summary: Create an idempotent TechStack runtime enrollment
      description: >-
        Creates server_id/runtime_agent_id and returns the Guard enrollment
        handoff for install-command, SSH connect, or managed kombify rollout.
        Provider or SSH bootstrap alone does not mark the server connected.
        The first accepted request creates credential generation 1. Replaying
        the same normalized request with the same Idempotency-Key returns the
        exact same opaque token; another key or payload conflicts and never
        rotates the credential.
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            minLength: 8
            maxLength: 256
            pattern: '^[\x21-\x7e]+$'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkerConnectRequest"
      responses:
        "200":
          description: Runtime enrollment created or returned
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/WorkerEnrollmentResponse"
        "400":
          description: Missing or invalid Idempotency-Key or request
        "401":
          description: Caller is not authenticated
        "403":
          description: Caller is not authorized to connect a server
        "409":
          description: Idempotency key, request, or runtime identity conflicts with the active credential

  /v1/ril/servers/{id}/credential/rotate:
    post:
      operationId: rotateRILServerCredential
      tags: [Workers, RIL]
      summary: Rotate or recover one runtime-agent credential
      description: >-
        Owner-authenticated, generation-fenced credential rotation. The
        expected generation and Idempotency-Key bind one transition. An exact
        replay returns the same new token; a stale generation, changed request,
        or reused key returns 409.
      parameters:
        - $ref: "#/components/parameters/resourceId"
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            minLength: 8
            maxLength: 256
            pattern: '^[\x21-\x7e]+$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkerCredentialRotateRequest"
      responses:
        "200":
          description: Credential rotated or exact rotation replay returned
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/WorkerEnrollmentResponse"
        "400":
          description: Missing generation, Idempotency-Key, or invalid request
        "401":
          description: Caller is not authenticated
        "403":
          description: Caller does not own the server
        "404":
          description: Server or runtime agent not found
        "409":
          description: Stale generation or idempotency conflict

  /api/v1/workers/{id}/heartbeat:
    post:
      operationId: heartbeatWorker
      tags: [Workers]
      summary: Runtime agent heartbeat
      description: Accepts either owner-authenticated legacy worker heartbeat or Guard Bearer heartbeat for runtime_agent_id liveness.
      parameters:
        - $ref: "#/components/parameters/resourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkerHeartbeatRequest"
      responses:
        "200":
          description: Heartbeat accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"

  /api/v1/workers/{id}/inventory:
    post:
      operationId: ingestWorkerInventory
      tags: [Workers, RIL]
      summary: Ingest Guard service inventory
      description: >-
        Guard-authenticated inventory ingestion for host health, channels,
        services, and endpoint matrix. StackKits is the source of truth for
        services; TechStack persists the data into worker, registry,
        monitoring, and RIL read models. The runtime-agent token and path bind
        the authoritative tenant, owner, stack, lease, server, and agent
        identities; payload identity fields cannot expand that authority.
      security:
        - runtimeAgentAuth: []
      parameters:
        - $ref: "#/components/parameters/resourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkerInventoryRequest"
      responses:
        "200":
          description: Inventory applied or accepted as an exact idempotent replay
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "202":
          description: Valid inventory accepted without replacing a newer canonical Guard observation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"

  /api/v1/workers/{id}/approve:
    post:
      operationId: approveWorker
      tags: [Workers]
      summary: Approve pending worker
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "200":
          description: Worker approved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "404":
          $ref: "#/components/responses/NotFound"

  /install.sh:
    get:
      operationId: getInstallScript
      tags: [Workers]
      summary: Worker bootstrap script
      security: []
      responses:
        "200":
          description: Shell script for worker installation
          content:
            text/plain:
              schema:
                type: string

  /install.ps1:
    get:
      operationId: getInstallScriptPS
      tags: [Workers]
      summary: Windows worker bootstrap script
      security: []
      responses:
        "200":
          description: PowerShell script for worker installation
          content:
            text/plain:
              schema:
                type: string

  # ============================================================
  # PRE-CHECKS
  # ============================================================
  /api/v1/workers/{id}/prechecks:
    post:
      operationId: runPreChecks
      tags: [Pre-Checks]
      summary: Run pre-checks on worker
      parameters:
        - $ref: "#/components/parameters/resourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PreCheckRequest"
      responses:
        "202":
          description: Pre-checks started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreCheckResponse"
    get:
      operationId: getWorkerPreChecks
      tags: [Pre-Checks]
      summary: Get pre-check results for worker
      parameters:
        - $ref: "#/components/parameters/resourceId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/perPage"
      responses:
        "200":
          description: Pre-check results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"

  /api/v1/prechecks/request/{id}:
    get:
      operationId: getPreCheckByRequest
      tags: [Pre-Checks]
      summary: Get pre-check results by request ID
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "200":
          description: Pre-check results with pass/fail summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                  results:
                    type: array
                    items:
                      type: object
                  all_blocking_passed:
                    type: boolean

  /api/v1/prechecks/{id}/result:
    post:
      operationId: updatePreCheckResult
      tags: [Pre-Checks]
      summary: Update pre-check result (called by agent)
      parameters:
        - $ref: "#/components/parameters/resourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                message:
                  type: string
                details:
                  type: object
                error:
                  type: string
                duration_ms:
                  type: integer
      responses:
        "200":
          description: Result updated

  # ============================================================
  # AGENTS
  # ============================================================
  /api/v1/agents:
    get:
      operationId: listAgents
      tags: [Agents]
      summary: List connected gRPC agents
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/perPage"
      responses:
        "200":
          description: Paginated agent list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"

  /api/v1/agents/{id}:
    get:
      operationId: getAgent
      tags: [Agents]
      summary: Get agent by ID with resources
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "200":
          description: Agent details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: removeAgent
      tags: [Agents]
      summary: Remove/deregister agent
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "200":
          description: Agent removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  agentId:
                    type: string

  /api/v1/agents/{id}/command:
    post:
      operationId: sendAgentCommand
      tags: [Agents]
      summary: Send command to agent
      parameters:
        - $ref: "#/components/parameters/resourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, command]
              properties:
                type:
                  type: string
                command:
                  type: string
                args:
                  type: array
                  items:
                    type: string
      responses:
        "202":
          description: Command queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  commandId:
                    type: string
                  agentId:
                    type: string
                  status:
                    type: string
                    example: queued

  /api/v1/agents/{id}/logs:
    get:
      operationId: getAgentLogs
      tags: [Agents]
      summary: Get recent agent logs
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "200":
          description: Agent logs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LogEntry"

  /api/v1/agents/{id}/logs/stream:
    get:
      operationId: streamAgentLogs
      tags: [Agents]
      summary: Stream live agent logs via SSE
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "200":
          description: SSE event stream
          content:
            text/event-stream:
              schema:
                type: string
                description: |
                  Events: "history" (initial batch), "log" (new entries), "ping" (keepalive)

  # ============================================================
  # JOBS
  # ============================================================
  /api/v1/jobs:
    get:
      operationId: listJobs
      tags: [Jobs]
      summary: List jobs owned by the authenticated user
      description: |
        Returns the same owner-scoped job state used by the operator UI and
        automation clients. A job with `state: waiting` remains active and the
        current orchestrator process schedules its next check; it is not a
        failed provider action. If that schedule becomes stale after a process
        restart, use the exact-target `resumeStackEnrollment` operation.
      parameters:
        - $ref: "#/components/parameters/page"
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
        - name: stack_id
          in: query
          required: false
          schema:
            type: string
        - name: state
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/JobState"
        - name: type
          in: query
          required: false
          schema:
            type: string
        - name: search
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Owner-scoped jobs and pagination metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobListEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/jobs/{id}:
    get:
      operationId: getJob
      tags: [Jobs]
      summary: Get the current state of one owned job
      description: |
        This is the canonical polling surface for the UI, API clients, MCP
        tools, and agents. `waiting_enrollment` exposes a non-terminal wait;
        access to the target remains unavailable until the job resumes and
        reaches a terminal success state.
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "200":
          description: Current job state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/jobs/{id}/stream:
    get:
      operationId: streamJob
      tags: [Jobs]
      summary: Stream job progress via SSE
      description: |
        Emits `progress` events whose JSON payload follows `JobProgress`.
        Waiting-state events include `wait_reason` and `next_resume_at` and
        remain non-terminal.
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "200":
          description: SSE event stream for job progress
          content:
            text/event-stream:
              schema:
                type: string

  /api/v1/jobs/{id}/logs:
    get:
      operationId: getJobLogs
      tags: [Jobs]
      summary: Get job logs
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "200":
          description: Job logs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"

  /api/v1/jobs/stats:
    get:
      operationId: getJobStats
      tags: [Jobs]
      summary: Get job queue statistics
      responses:
        "200":
          description: Job queue stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  available:
                    type: boolean
                  stats:
                    type: object
                    required:
                      [
                        total,
                        pending,
                        waiting,
                        running,
                        completed,
                        failed,
                        canceled,
                      ]
                    properties:
                      total: { type: integer, minimum: 0 }
                      pending: { type: integer, minimum: 0 }
                      waiting: { type: integer, minimum: 0 }
                      running: { type: integer, minimum: 0 }
                      completed: { type: integer, minimum: 0 }
                      failed: { type: integer, minimum: 0 }
                      canceled: { type: integer, minimum: 0 }

  # ============================================================
  # DISCOVERY
  # ============================================================
  /api/v1/discovery/networks:
    get:
      operationId: getNetworks
      tags: [Discovery]
      summary: Get local network interfaces
      responses:
        "200":
          description: Network interfaces
          content:
            application/json:
              schema:
                type: object
                properties:
                  networks:
                    type: array
                    items:
                      type: object

  /api/v1/discovery/scan:
    post:
      operationId: startScan
      tags: [Discovery]
      summary: Start network scan (async)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScanRequest"
      responses:
        "200":
          description: Scan started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScanResponse"

  /api/v1/discovery/scan/{id}:
    get:
      operationId: getScan
      tags: [Discovery]
      summary: Get scan status and results
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "200":
          description: Scan status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScanResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/discovery/scan/{id}/cancel:
    post:
      operationId: cancelScan
      tags: [Discovery]
      summary: Cancel running scan
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "200":
          description: Cancelled
          content:
            application/json:
              schema:
                type: object
                properties:
                  cancelled:
                    type: boolean

  /api/v1/discovery/scan/{id}/enrich:
    post:
      operationId: enrichScan
      tags: [Discovery]
      summary: Enrich scan results with additional data
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "200":
          description: Enriched scan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScanResponse"

  /api/v1/discovery/devices:
    get:
      operationId: listDevices
      tags: [Discovery]
      summary: List caller-owned discovered devices
      description: Returns only devices produced by scans owned by the authenticated caller.
      responses:
        "200":
          description: Device list
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      type: object
                  count:
                    type: integer

  /api/v1/discovery/devices/{id}:
    get:
      operationId: getDevice
      tags: [Discovery]
      summary: Get caller-owned discovered device
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "200":
          description: Device details
          content:
            application/json:
              schema:
                type: object
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/discovery/probe:
    post:
      operationId: probeDevice
      tags: [Discovery]
      summary: Deep probe a caller-owned device
      description: Non-admin callers may only probe IPs from their own discovery results; admins may probe arbitrary IPs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ip]
              properties:
                ip:
                  type: string
                ssh_user:
                  type: string
                ssh_key:
                  type: string
      responses:
        "200":
          description: Probe results
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/discovery/test-ssh:
    post:
      operationId: testSSH
      tags: [Discovery]
      summary: Test SSH connectivity to a device
      description: Non-admin callers may only test IPs from their own discovery results; admins may test arbitrary IPs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ip]
              properties:
                ip:
                  type: string
                port:
                  type: integer
                  default: 22
                user:
                  type: string
                password:
                  type: string
                  format: password
      responses:
        "200":
          description: SSH test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: string
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/discovery/cache:
    delete:
      operationId: clearDiscoveryCache
      tags: [Discovery]
      summary: Clear discovery cache (admin only)
      responses:
        "200":
          description: Cache cleared
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/discovery/stats:
    get:
      operationId: getDiscoveryStats
      tags: [Discovery]
      summary: Get discovery statistics (admin only)
      responses:
        "200":
          description: Discovery stats
        "403":
          $ref: "#/components/responses/Forbidden"

  # ============================================================
  # FEATURES
  # ============================================================
  /api/v1/features:
    get:
      operationId: listFeatures
      tags: [Features]
      summary: List all features grouped by category
      responses:
        "200":
          description: Features by category
          content:
            application/json:
              schema:
                type: object
                properties:
                  security:
                    type: array
                    items:
                      $ref: "#/components/schemas/FeatureState"
                  beta:
                    type: array
                    items:
                      $ref: "#/components/schemas/FeatureState"
                  ux:
                    type: array
                    items:
                      $ref: "#/components/schemas/FeatureState"

  /api/v1/trust/pairing-tokens:
    get:
      operationId: listPairingTokens
      tags: [Trust]
      summary: List pairing tokens
      responses:
        "200":
          description: Pairing token list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
    post:
      operationId: createPairingToken
      tags: [Trust]
      summary: Create pairing token for worker registration
      responses:
        "200":
          description: Created token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"

  /api/v1/client-pairing/issue:
    post:
      operationId: issueClientPairingEnvelope
      tags: [Client Binding]
      summary: Issue a short-lived ClientPairingEnvelope v1
      description: >-
        Requires an authenticated instance administrator. Available only for an
        HTTPS self-hosted instance with a configured tenant and native OIDC
        authority. Local single-owner mode fails closed.
      responses:
        "201":
          description: One-time pairing envelope; the raw code is returned only here
          headers:
            Cache-Control:
              schema:
                type: string
                const: no-store
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientPairingEnvelope"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
        "403":
          description: Administrator or tenant binding required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
        "409":
          description: Local single-owner mode cannot create a team pairing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
        "503":
          description: Pairing authority is not safely configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"

  /api/v1/client-pairing/redeem:
    post:
      operationId: redeemClientPairingEnvelope
      tags: [Client Binding]
      summary: Atomically redeem a ClientPairingEnvelope v1 code
      description: >-
        The client verifies the HTTPS certificate fingerprint before sending
        this request. Success consumes the code exactly once and returns public
        metadata for the normal OIDC account flow; it never returns a session or
        duplicates the local owner identity.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClientPairingRedeemRequest"
      responses:
        "200":
          description: Code consumed and normal OIDC account handoff returned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientPairingRedeemResponse"
        "400":
          description: Malformed or unknown code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
        "409":
          description: Binding mismatch, replay, or unsupported local authority
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
        "410":
          description: Pairing code expired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
        "503":
          description: Atomic redemption is temporarily unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
  /api/v1/trust/pairing-tokens/{id}:
    delete:
      operationId: deletePairingToken
      tags: [Trust]
      summary: Delete pairing token
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "200":
          description: Deleted

  /api/v1/tunnel/registry-url:
    get:
      operationId: getTunnelRegistryUrl
      tags: [Tunnel]
      summary: Get public tunnel registry URL
      security: []
      responses:
        "200":
          description: Registry URL

  /api/v1/tunnel/status:
    get:
      operationId: getTunnelStatus
      tags: [Tunnel]
      summary: Get tunnel connection status
      security: []
      responses:
        "200":
          description: Tunnel status

  /api/v1/tunnel/start:
    post:
      operationId: startTunnel
      tags: [Tunnel]
      summary: Start Cloudflare tunnel
      security: []
      responses:
        "200":
          description: Tunnel started

  /api/v1/tunnel/stop:
    post:
      operationId: stopTunnel
      tags: [Tunnel]
      summary: Stop Cloudflare tunnel
      security: []
      responses:
        "200":
          description: Tunnel stopped

  /api/v1/tunnel/install-command:
    post:
      operationId: createInstallCommand
      tags: [Tunnel]
      summary: Generate worker install command with tunnel URL
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      security: []
      responses:
        "200":
          description: Install command

  /api/v1/tunnel/validate-url:
    post:
      operationId: validateTunnelUrl
      tags: [Tunnel]
      summary: Validate custom tunnel URL
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
      responses:
        "200":
          description: Validation result

  /api/v1/tunnel/topology:
    get:
      operationId: getTopology
      tags: [Tunnel]
      summary: Detect network topology
      security: []
      responses:
        "200":
          description: Network topology

  /api/v1/tunnel/subdomains:
    get:
      operationId: listTunnelSubdomains
      tags: [Tunnel]
      summary: List kombify.me subdomains for diagnostics; registration is StackKits-owned
      responses:
        "200":
          description: Subdomain list

  /api/v1/tunnel/subdomains/{baseId}/services:
    get:
      operationId: listTunnelSubdomainServices
      tags: [Tunnel]
      summary: List services under a kombify.me base subdomain
      parameters:
        - name: baseId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Service list

  # ============================================================
  # MONITORING
  # ============================================================
  /api/v1/monitor/metrics/instant:
    get:
      operationId: instantMonitorQuery
      tags: [Metrics]
      summary: Run a PromQL instant query
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: time
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Instant query result

  /api/v1/monitor/metrics/query:
    get:
      operationId: rangeMonitorQuery
      tags: [Metrics]
      summary: Run a PromQL range query
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: start
          in: query
          schema:
            type: string
        - name: end
          in: query
[...]
